.modal-header .buybackModalLabel {
    font-size: 20px;
    font-weight: bold;
    /* justify content center and verticaly center */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.modal_desc {
    height: 50%;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

#modal_desc_value {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    top: 20%;
}

.modal_desc span {
    position: absolute;
    display: flex;
    align-items: top;
    justify-content: left;
    left: 0;
    top: 0%;

    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
}

.modal_price span {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;

    /* top left .modal_price */
    position: absolute;
    display: flex;
    align-items: top;
    justify-content: left;
    left: 0;
    top: 50%;
}

#modal_price_value::before {
    content: "Rp. ";
}

.modal_price {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal_price_value {
    font-size: 20px;
    font-weight: bold;
}

.modal_right {
    /* font-size: 20px; */
    /* font-weight: bold; */
    /* height: 50px; */

    border-left: 3px solid rgba(0, 0, 0, 0.2);
}
